@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap);

/* @layer base {
  @font-face {
    font-family: Nunito Sans;
    font-weight: 300;
    src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap);
  }
  @font-face {
    font-family: Nunito Sans;
    font-weight: 600;
    src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap);
  }
  @font-face {
    font-family: Nunito Sans;
    font-weight: 800;
    src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap);
  }
} */
